@page
@model JafEcommerce.Pages.ItemModel
<h3>
    Ecommerce Payment

</h3>
<form class="form-horizontal" method="post">

    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">Id</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="Id">
        </div>
    </div>
    <div class="form-group">
        <label for="Name" class="col-sm-2 control-label">ProductName</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="ProductName">
        </div>
    </div>
    <div class="form-group">
        <label for="Email" class="col-sm-2 control-label">ProductAmount</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" name="ProductAmount">
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit"  class="btn btn-danger">Payment Processing </button>
        </div>
    </div>
</form>